/* Lorenzo's CSS start */

/*color pallette(light to dark): #F0F5F9, #C9D6DF, #52616B, #1E2022 */

/* FONTS
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700
	HEADER FONT
.oswald-<uniquifier> {
	font-family: "Oswald", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
	TEXT FONT
.open-sans-<uniquifier> {
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

*/

h1,h2,h3,h4,h5,h6,label
{
	font-family: "Oswald", serif !important;
	font-optical-sizing: auto !important;
	font-weight: 600 !important;
	font-style: normal !important;
	color: #1E2022;
}

body
{
	font-family: "Open Sans", serif !important;
	font-optical-sizing: auto !important;
	font-weight: 400 !important;
	font-style: normal !important;
	font-variation-settings: "wdth" 100 !important;
	color: #1E2022;
	background-color: #C9D6DF;
	background-image: url("../img/bg-img.png");
	background-attachment: fixed;
	background-position: center;
}

.navbar
{
	padding: 10px;
	position:fixed; 
	width:100%;
	z-index: 99; /* forces navbar to remain in foreground - prevents content overlapping */
	background-color: #C9D6DF !important;
}

.navbar_text
{
	padding-left: 5%;
	text-shadow: 2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white !important;
}	

.card_body_index
{
	display: flex; 
	flex-direction: column; /* displays card content as a column*/
	background-color: #F0F5F9 !important;
}

.card_index:hover
{
	transform: scale(1.03); /*increases text font size when user hovers over hyperlink text*/
	border: 2px solid #52616B;

}

.pageHeader
{
	padding-top: 75px; /* adds space to top of page, prevents element from being hidden by reflexive navbar across viewports. open to alternatives */
	padding-bottom: 10px;
	background-color: #52616B;
	border-radius: 5px;
	border: 5px solid #1E2022;
	border-top-style: none;
	/*adds shadow around each letter, adds a gradient that fades as it moves away from the letter*/
	text-shadow: 2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
}

.body_header
{
	background-color: #C9D6DF;
	/*adds shadow around each letter, adds a gradient that fades as it moves away from the letter*/
	text-shadow: 2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
	margin: -5px;
	padding: 5px;
}

.body_text
{
	border-radius: 5px;
	background-color: #F0F5F9;
	padding: 5px;
	border: 2px solid #52616B;
}

.contact_link
{
	border-radius: 5px;
	background-color: #C9D6DF;
	margin: 5px;
	padding: 5px;
	border: 2px solid #52616B;
}


#commentSection
{
	border-radius: 5px;
	background-color: #F0F5F9;
	padding: 5px;
}

.carousel-caption
{
	/*adds shadow around each letter, adds a gradient that fades as it moves away from the letter*/
	text-shadow: 2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
}

#newsletterActive
{
	border-radius: 5px;
	padding: 5px;
}

.text_link
{
	text-decoration: none;
	color: black;
}

.text_link:hover
{
	color: blue;
}

.sr-only
{
	font-weight: bold !important; 
	border: 3px solid grey !important;
	border-style: inset !important;
	padding: 2px;
	color: #000000 !important;
}

.nav-link
{
	color: black !important;
}

.nav-link-close:hover
{
	
	color: blue !important;
}

.nav-link:hover
{
	color: blue !important;	
}

.navbar-toggler
{
	background-color: #F0F5F9;
	color: #52616B;
	margin: 10px;
}

.navbar-light
{
	background-color: #F0F5F9; !important;
    /*border: none !important;*/
    border-width:5px!important;
	border-style: solid;
}

@media (max-width: 305px) {
	.pageHeader 
	{
		padding-top: 210px;
	}
   
}

@media (min-width: 320px) {
	.navbar
	{
	padding: 0px;
	margin-right: 0px;
	}
   
}

/*sizes contact page images to center and restrict width to ensure padding between viewport edges on viewports of 430pixel width or less*/
@media (max-width: 575px)
{
	.contact_link
	{
		width: 80%;
		height: 110%;
		margin: 0 auto 0 auto;
		object-fit: scale-down;
	}
	
	.card
	{
		width: 80%;
		margin: 0 auto 0 auto;
		object-fit: cover;
	}
}

@media (max-width: 767px)
{
	.carousel_toggle
	{
		display: none;
	}
}

/* Lorenzo's CSS end */





/* Jaehyuk's CSS start */

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800 

.parkinsans-<uniquifier> {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/* font for p tag */
.process_explain {
	font-family: "Parkinsans", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

.col-sm-6 > p {
	text-align: center;
}

/* image */
.happy_children {
	width: 400px;
	height: 400px;
	border-radius: 20px;
	border: 2px solid black;
}

/* image */
.banned_food{
	width: 100px;
	height: 100px;
	margin: 10px; /* margin for between pictures */
}

form{
	background-color: white;
	width: 70%;
	margin: 0 auto; /* center the form element */
	padding: 20px 20px 20px 20px; /* for the content in the form / top, left, bottom, right */
	border-radius: 5px;
	border: 2px solid black;
}

@media screen and (max-width: 980px){
    .col-sm-6 > p {
		margin-top: 10px; /* space between picture and text */
        font-size: 14px;
    }
    .col-sm-6 img {
        width: 100%; /* for images to take over */
    }
	form {
		width: 100%; /* for form to take over */
	}
}

/* Jaehyuk's CSS end */